.div-padre-barraMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #DCD7CB;
  width: 20%;
  box-sizing: border-box;
  font-family: 'Open Sans';
  overflow: hidden;
}

 .div-barra{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(11, 10, 10);
    padding: 0.5%;
    font-size: 20px;
    background-color: #DCD7CB;
}

.div-barra a {
  text-decoration: none;
  padding: 2%;
  color: #5E5951;
  
}

.div-barra a:hover {
  color: #4A463E; 
}

.div-barra h1 {
 font-size: 24px;
 color:#71B0C5;
}

.hrPersonalizada {
  border: none;            
  height: 2px;               
  background-color: #71B0C5; 
  width:95%;                
  margin-left: 0.5%;      
}

.div-barra img {
  width: 8%;
}

.submenu-button {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  color: #5E5951;
  padding: 2%;
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
}

.submenu-button:hover {
  color: #4A463E;
}

.submenu-button img {
  width: 10%;
  margin-right: 5px;
}

.submenu {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.submenu a {
  padding: 1% 2%;
  font-size: 18px;
}

.opcion-menu {
  display: flex;
  align-items: center;
}