.div-padre-barraMenu{
  top: 0;  
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #DCD7CB;
  width: 25%;
  min-width: 260px;
  min-height: calc(100vh - var(--header-height));
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  overflow-y: auto;
}

 .div-barra{
    display: flex;
    flex-direction: column;
    align-items: justify;
    width: 100%;
    color: rgb(11, 10, 10);
    padding: 0.5%;
    font-size: 20px;
    background-color: #DCD7CB;
}

.div-barra a {
  text-decoration: none;
  color: var(--textBody);
  margin: 30px 10px;

}

.div-barra a:hover {
  color: var(--primaryB);
}


.div-barra h1 {
 font-size: 24px;
 color:#71B0C5;
 margin: 30px;
 text-align: center;
 margin-right: 50px;
}

.hrPersonalizada {
  align-self: center;
  border: none;            
  height: 2px;               
  background-color: #71B0C5; 
  width:90%;                    
}

.div-barra img {
  width: 8%;
}




.submenu-button {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  color: var(--textBody);
  margin: 30px 10px;
}

.submenu-button:hover {
  color: #4A463E;
}

.submenu-button img {
  width: 20%;
  
}

.submenu {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.submenu a {
  padding: 1% 2%;
  font-size: 18px;
}

.opcion-menu {
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
  background-color: var(--surface1);
  

}

