
body {
    background-color: #B1B1B1;
    font-family: 'Open Sans';
}

/* -------------------- CONTENEDOR PRINCIPAL -------------------- */
 .contenedor {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #F5F3EE;
  height: 100vh;
}

.div-padre{
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-height: 100vh;
  box-sizing: border-box;
}
/* -------------------- COLUMNA IZQUIERDA -------------------- */
.div-1{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    background-color: #F5F3EE;
    box-sizing: border-box;
    align-content: flex-start;
}

.logo-seguramente{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  

}




/* Títulos */
.div-titulos{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 20px auto;
  width: 70%;
  
  box-sizing: border-box;
}

.div-padre h1 {
    color: var(--textTitle);
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    
}

.div-padre h3 {
    color: var(--textBody);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

/* -------------------- FORMULARIO -------------------- */
.div-hijo-1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  align-items: center;
}

/* Labels */
.div-hijo-1 label {
  width: 60%;
  font-size: 14px;
  font-weight: 600;
  color: #4A463E;
}

/* Input container */
.input-container {
  position: relative;
  width: 60%;
  
  
}

/* Inputs */
.input-container input {
  width: 100%;
  height: 50px; 
  border: none;
  border-bottom: 2px solid #A6D885;
  padding: 0 40px 0 12px; 
  outline: none;
  background-color: #FFFFFF; 
  font-size: 14px;
  color: #4A463E;
  border-radius: 4px; 
  box-sizing: border-box;
}


.input-container input::placeholder {
  color: #9C9C9C;
}

.input-container input:focus {
  border-bottom-color: #8dcf63;
}

/* Ojito */
.eye-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #B0B0B0; /* gris */
  user-select: none;
}

.eye-icon:hover {
  color: #7A7A7A;
}

/* -------------------- BOTÓN -------------------- */
.div-hijo-2 {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-hijo-2 button {
  width: 50%;
  padding: 12px;
  background-color: #A6D885;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.div-hijo-2 button:hover {
  background-color: #8dcf63;
}

/* -------------------- COLUMNA DERECHA -------------------- */
.div-2{
    width: 45%;
    min-height: 100vh;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: 
          url(../includes/PatronGeometrico.svg) repeat,
          linear-gradient(to right, var(--primaryG), var(--primaryB));
    background-size: 176px 48px, cover;

    box-sizing: border-box;
    overflow: visible;
    
}
.div-2 img {
  position: absolute;

  width: 680px; 
  height: 720px;
  object-fit: cover;

  left: -120px;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 20px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.3);
  z-index: 2;
    
}



