.card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px var(--primaryG);
  max-height: 30%;
  font-family: 'Open Sans', sans-serif;

}

.card h3 {
  margin-bottom: 12px;
  color: var(--textTitle);
  font-size: 20px;
}

.card p {
  margin: 6px 0;
  font-size: 15px;
  color: var(--textBody);
}

.cancelar {
  width: 100%;
  margin-top: 14px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #e74c3c;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.cancelar:hover {
  background-color: #c0392b;
}

.reprogramar {
  width: 100%;
  margin-top: 14px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #71B0C5;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.reprogramar:hover {
  background-color: #5a97aa;
}