body {
    background-color: #B1B1B1;
    font-family: 'Open Sans';
}

.container {
    max-width: 500px;
    margin: 60px auto;
    padding: 20px;
    text-align: start;
    font-family: 'Open Sans', sans-serif;
}

.btnAtras {
  background: none;
  border: none;
  font-size: 16px;
  color: var(--textTitle);
  display: flex;
  align-items: center;
  cursor: pointer;
}

    
.iconAtras {
  width: 30px;
  margin-right: 12px;
}


.btnAtras:hover {
    color: var(--primaryB);
}

.title {
    font-size: 22px;
    color: var(--textTitle);
    margin-bottom: 15px;
    font-weight: 600;
}

.desciption{
    font-size: 16px;
    color: var(--textBody);
    margin-bottom: 30px;
    line-height: 1.5;
    
}

.confirmButton {
    background-color: var(--primaryB);
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}



