
.div-padre-header{
    display: flex;
    width: 100%;
    height: var(--header-height);
    position: relative;

    
}

.contenedor-barra {
  position: relative;
  width: 100%;
  height: var(--header-height); /* Altura de tu barra */
}

.barra {
  width: 100%;
  height: 100%; /* Altura de tu barra */
  object-fit: cover;
  position: absolute;
  background: 
        url(../includes/PatronGeometrico.svg) repeat,
        linear-gradient(to right, var(--primaryG), var(--primaryB));
    background-size: 176px 48px, cover;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Logo*/
.logo {
  position: absolute;
  top: 100%;
  right: 30px; 
  transform: translateY(-50%);
  height: 200px; 
  z-index: 10;
  pointer-events: none;
}