body {
    background-color: #B1B1B1;
    font-family: 'Open Sans';
}
.contenedor {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #F5F3EE;
  height: 100vh;
}

.contenedor-imagen {
    width: 20%;
    height: 50%;
    margin-top: 25%;
    margin-left: 60%;
   
}

.contenedor-imagen img {
    width: 100%;
    height: 100%;
   
}