

/* CONTENEDOR DE MENÚ + CONTENIDO */
.cuerpo {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
}

/* ZONA DE CONTENIDO */
.contenido {
  flex: 1;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 0;
  align-content: start;

  position: relative;
  z-index: 1;
}

/* IMAGEN */
.contenedor-imagen {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50%;
  z-index: 0;
  pointer-events: none;
}

.contenedor-imagen img {
  height: 100%;
  width: auto;
  object-fit: contain;
}