:root {
    --header-height: 140px;
}

.layoutRoot {
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    height: 100%;
}

.layoutBody {
    display: flex;
    flex: 1;
    min-height: calc(100vh - var(--header-height));
}

.layoutContent {
    flex: 1;
    overflow-y: auto;
    padding-top: 20px;
}