body {
    background-color: #F5F3EE;
    font-family: 'Open Sans', sans-serif;
}

 .contenedor {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #F5F3EE;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  
}

.div-padre{
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-height: 100vh;
  box-sizing: border-box;
}

.div-1{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    background-color: #F5F3EE;
    box-sizing: border-box;
    align-content: flex-start;
}
.logo-seguramente{
  display: flex;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
.div-titulos{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.div-hijo-1{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    flex-direction: column;
    padding: 1%;
    place-content: center;
    margin-top: 0;
}

.div-hijo-1 span{
    text-align: start;
    margin-bottom: 20px;
    color: #4A463E;
    font-weight: bold;
    
}

.div-hijo-1 input{
  border: none;
  padding: 3%;
  border-bottom: 2px solid #A6D885; 
  width: 60%;
  outline: none;
  margin-bottom: 5%;
  
}

.div-hijo-1 input:focus {
  border-bottom-color: #8feb51; 
} 



/* ------------------------------------------------------ */
.div-2{
    width: 45%;
    min-height: 100vh;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: 
          url(../includes/PatronGeometrico.svg) repeat,
          linear-gradient(to right, var(--primaryG), var(--primaryB));
    background-size: 176px 48px, cover;

    box-sizing: border-box;
    overflow: visible;
    
}
.div-2 img {
  position: absolute;

  width: 620px; 
  height: 670px;
  object-fit: cover;

  left: -120px;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 20px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.3);
  z-index: 2;
    
}


.div-padre h1 {
    width: 100%;
    font-size: 25px;
    color: #4A463E;
    
}

.div-padre h3 {
    width: 100%;
    font-size: 20px;
  color: #5E5951;
} 

.palabraVerde {
  color: #A6D885;
  font-weight: bold;
}
/* ---------------hijo 2---------------------------------- */

.div-hijo-2 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;  
  
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 0;
  align-content: flex-start;
  
}

.div-check{
  display: flex;
  width: 65%;
  margin-left: 50px;
  gap: 10px;
  color: var(--textBody);
  
  
  
}

.div-enlaces{
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.div-enlaces a {
  padding:2%;
  text-decoration: none;
  color: #5E5951;
}

.div-hijo-2 button {
    padding: 2%;
    width: 49%;
    background-color: #A6D885;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top:none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}





