.headerPago{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 5%;
    margin-top: 20px;
    gap: 10px;
    text-align: left;
}

.btnAtras {
  align-self: flex-start;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  background: none;
  border: none;
  font-size: 16px;
  color: var(--textTitle);
  cursor: pointer;
  padding: 0;
  margin-left: 0;
}


.iconAtras {
  width: 30px;
  margin-right: 12px;
}


.btnAtras:hover {
    color: var(--primaryB);
}

.headerPago h1 {
  color: var(--primaryB);
  font-size: 30px;
  margin: 0;
  text-align: left;
}
.contenedor hr {
  border: none;
  border-top: 2px solid var(--primaryB); 
  width: 90%;
  margin: 10px auto 30px;
}

.contenedor {
    width: 90%;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  

.resumen {
    background-color: var(--surface2);
    padding: 15px;
    border-radius: 8px;
    margin: 0 50px;
    color: var(--textBody);
    box-shadow: 0 2px 8px var(--primaryB);

}

.resumen p {
    margin: 15px 0;
}

h2 {
    color: var(--textBody);
    margin: 10px 50px;

}
.metodos {
    display: flex;
    gap: 20px;
    margin: 0 50px;
}

.opcion {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--textBody);


}

.formPago {
    align-items: column;
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 50px   ;
    gap: 20px;
    box-shadow: 0 2px 8px var(--primaryB);
}

.formPago input,
.formPago select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid var(--borderInput);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--textBody);
}

.fila {
    display: flex;
    gap: 10px;
}

.botonPagar {
    width: 200px;
    padding: 14px;
    background-color: var(--primaryB);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 50px;
}

.botonPagar:hover {
    background-color: #5a9bb3;
}

.botonPagar:disabled {
    background-color: var(--borderInput);
    cursor: not-allowed;
}
