body {
    background-color: #F5F3EE;
    font-family: 'Open Sans', sans-serif;
}

 .contenedor {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #F5F3EE;
  height: 100vh;
}

.div-padre{
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-height: 100vh;
  box-sizing: border-box;
}

.div-1{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    background-color: #F5F3EE;
    box-sizing: border-box;
    align-content: flex-start;
}
.logo-seguramente{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
.div-titulos{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 20px auto;
  width: 70%;
  
  box-sizing: border-box;
}

.div-titulos h1{
    color: var(--textTitle);
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.div-titulos h3{
    color: var(--textBody);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.div-hijo-1{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    flex-direction: column;
    padding: 1%;
    place-content: center;
    margin-top: 0;
}

.div-hijo-1 span{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
    color: var(--textBody);
    font-weight: bold;
    
}

.div-hijo-1 input{
  border: none;
  border-radius: 5px;
  padding: 3%;
  border-bottom: 2px solid #A6D885; 
  width: 60%;
  outline: none;
  margin-bottom: 5%;
  
}

.div-hijo-1 input:focus {
  border-bottom-color: #8dcf63; 
} 



/* ------------------------------------------------------ */
.div-2{
    width: 45%;
    min-height: 100vh;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: 
          url(../includes/PatronGeometrico.svg) repeat,
          linear-gradient(to right, var(--primaryG), var(--primaryB));
    background-size: 176px 48px, cover;

    box-sizing: border-box;
    overflow: visible;
    
}
.div-2 img {
  position: absolute;

  width: 620px; 
  height: 670px;
  object-fit: cover;

  left: -120px;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 20px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.3);
  z-index: 2;
    
}




/* ---------------hijo 2---------------------------------- */

.div-hijo-2 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;  
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 0;
  align-content: flex-start;
  
}


.div-enlaces{
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.div-enlaces a {
  padding:2%;
  text-decoration: none;
  color: #5E5951;
}

.div-hijo-2 button {
    padding: 2%;
    width: 49%;
    background-color: #A6D885;
    border-radius: 5px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top:none;
    color: white;
    font-weight: bold;
}