

.contenedor-2 {
width: 70%;
min-height: 100%;
padding: 20px 40px;

}

.contenedor-2 h2{
    width: 100%;
    margin-left: 2%;
    color: #71B0C5;

}

.hrPersonalizada {
  border: none;            
  height: 2px;               
  background-color: #71B0C5; 
  width: 70%;                
  margin-left: 1%;      
}
  
.div-atras{
  display: flex;
  width: 65%; 
}

.div-atras a {
margin-top: 1%;
text-decoration: none;
color: #5E5951;

}

/* -------------------------------- */
.div-padre {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-left: 2%;
  background-color: #F5F3EE;
  padding: 1%;
  align-content: flex-start;
  justify-content: space-between;
  
}


.div-padre h1{
    width: 100%;
    font-size: 20px;
    color: #5E5951;

}

/* ----------------hijo 1 y 2 ------------------------------------ */
.div-hijo-1,
.div-hijo-2 {
  width: 48%; 
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-bottom: 3%;
}

/* ---------------------------------------------------- */


.div-hijo-1 span{
    text-align: start;
    color: #5E5951;
}

.div-hijo-1 input{
    padding: 3%;
    border: none;
    border: solid 1px rgb(207, 207, 228);
    border-radius: 5px;
}

.div-hijo-1 input:focus-within{
   border: solid 1px #71B0C5;
   outline:none ;
}

#input-img{
 border: none;  
 color:#5E5951; 
}

/* ------------------------------------------------- */



.div-hijo-2 span{
    text-align: start;
    color:#5E5951;
}

.div-hijo-2 textarea{
    padding: 1%;
    border: none;
    min-height: 130px;
    border: solid 1px rgb(207, 207, 228);
    border-radius: 5px;
}

.div-hijo-2 textarea:focus-within{
   outline:none ;
   border: solid 1px #71B0C5;
}


/* __________hijo 3____________________________ */

.div-hijo-3 {
  width: 50%; 
  display: flex;
  justify-content: center;
  gap: 10px;
}

.div-hijo-3 button {
    padding: 2%;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    background-color: #71B0C5;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top:none;
    color: white;

}
#boton_2 {
    background-color: #B1B1B1;
}

