.headerResumenCita {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 5%;
    margin-top: 20px;
    gap: 10px;
    text-align: left;
}

.btnAtras {
  align-self: flex-start;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  background: none;
  border: none;
  font-size: 16px;
  color: var(--textTitle);
  cursor: pointer;
  padding: 0;
  margin-left: 0;
}


.iconAtras {
  width: 30px;
  margin-right: 12px;
}


.btnAtras:hover {
    color: var(--primaryB);
}

.headerResumenCita h1 {
  color: var(--primaryB);
  font-size: 30px;
  margin: 0;
  text-align: left;
}
.contenedor hr {
  border: none;
  border-top: 2px solid var(--primaryB); 
  width: 90%;
  margin: 10px auto 30px;
}

.contenedor {
    width: 90%;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 12px;
    margin: 0 50px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px var(--primaryB);
    font-family: 'Open Sans', sans-serif;

}

.card h2 {
    margin-bottom: 10px;
    color: var(--primaryB);
}

.card p {
    margin: 15px 0;
    color: var(--textBody);
}

.botonConfirmar {
    max-width: 200px;
    padding: 14px;
    background-color: var(--primaryB);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 50px;
}

.botonConfirmar:hover {
    background-color: #5a9bb3;
}

