body {
    background-color: #F5F3EE;
    font-family: 'Open Sans';
}

.contenedor {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #F5F3EE;
  height: 100vh;
  
}
.contenedor-tabla{
  width: 80%;
  min-height: 80%;
  

}
.contenedor-tabla h2{
  width: 100%;
  margin-left: 2%;
  color: #71B0C5;

}

.hrPersonalizada {
  border: none;              
  height: 2px;              
  background-color: #71B0C5; 
  width: 70%;                
  margin-left: 1%;        
}
  
.div-atras{
  display: flex;
  width: 65%; 
}

.div-atras a {
margin-top: 1%;
text-decoration: none;
color: #5E5951;

}



.IconoEditar {
  width: 20px;
  
}

.Eliminar {
  width: 20px;
  
}


.tabla {
  width: 100%;
  height: 100px;
  font-family: 'Open Sans';
}

.tabla td {
  border: 1px solid #B1B1B1;
  padding: 1px;
  background-color: #DCD7CB;
  text-align: left;
  width: 2%;
}

.tabla th {
  border: 1px solid #B1B1B1;
  background-color: #DCD7CB;
  padding: 10px;
  text-align: left;
  width: 2%;
}


/* --------- botones de paginacion ------ */
.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.paginacion button {
  background-color: #71b0c5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-family: 'Open Sans';
  transition: background-color 0.2s ease;
}

.paginacion button:hover:not(:disabled) {
  background-color: #5a98ad;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginaActiva {
  background-color: #5a98ad !important;
  font-weight: bold;
}