
.bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: 
        url(../includes/PatronGeometrico.svg) repeat,
        linear-gradient(to right, var(--primaryG), var(--primaryB));
    background-size: 176px 48px, cover;
    z-index: 0;
}