:root {
    --background:rgba(245, 243, 238, 1); /* #F5F3EE */
    --primaryG: rgba(166, 216, 133, 1); /* #A6D885 */
    --primaryB: rgba(113, 176, 197, 1); /* #71B0C5 */
    --surface1: rgba(220, 215, 203, 1); /* #DCD7CB */
    --surface2: rgba(242, 237, 224, 1); /* #F2EDE0 */
    --textTitle:rgba(74, 70, 62, 1); /* #4A463E */
    --textBody: rgba(94, 89, 81, 1); /* #5E5951 */
    --textSubtle: rgba(136, 128, 113, 1); /* #888071 */
    --borderInput: rgba(177, 177, 177, 1); /* #B1B1B1 */
    --feedbackError: rgba(226, 84, 84, 1); /* #E25454 */
    --inputFill: rgba(255, 255, 255, 1); /* # */

    
    --header-height: 140px;


}

/*Estructura general*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
}