* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: var(--background);

}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
}